version: '3.8'

services:

  postgres_db:
    image: postgres:13.3
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: warn_me
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password