<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->

<div th:replace="fragments/header :: head"></div>

<body>
<div th:replace="fragments/header :: header"></div>

<div class="content-wrapper">
  <div class="inner-container container">
    <div class="row">
      <div class="section-header col-md-12">
        <h2>Latest alerts</h2>
        <span th:text="'update date: ' + ${refreshDate}">update date: 2021.06.01 13:13</span>
        <div align="left" sec:authorize="isAuthenticated()">
          <ul class="sf-menu hidden-xs hidden-sm">
            <li><div class="fa fa-twitter"> get fresh tweets</div>
              <ul>
                <li><a th:href="@{/alerts/refresh/1139834822011084801}">IMGW-PIB METEO POLSKA</a></li>
                <li><a th:href="@{/alerts/refresh/2979632800}">Rządowe Centrum Bezpieczeństwa</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div> <!-- /.section-header -->
    </div> <!-- /.row -->
    <div class="row">
      <div class="blog-masonry masonry-true">
                        <span th:each="post: ${posts}">
                        <div class="post-masonry col-md-4 col-sm-6">
                            <div class="project-thumb">
                                <img th:src="${post.images.get(0)}">
                                <div class="overlay-b">
                                    <div class="overlay-inner">
                                        <a th:href="${post.images.get(0)}" class="fancybox fa fa-expand" title="Project Title Here"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-body">
                                <div class="box-content">
                                  <h3 class="post-title"><span th:text="${post.title} + ' poziom: ' + ${post.level}">Storms warning</span></h3>
                                    <span class="blog-meta" th:text="${post.date}">date</span>
                                    <p th:text="${post.description}"></p>
                                  <div class="blog-tags col-md-12">
                                    <span>categories: </span>
                                  <span th:each="category: ${post.categories}">
                                    <span th:text="${category} + '&nbsp'"></span>
                                    </span>
                             </div>
                                </div>



                            </div>
                        </div> <!-- /.post-masonry -->
                        </span>
      </div> <!-- /.blog-masonry -->

    </div> <!-- /.row -->
    <div class="row">
      <div class="col-md-12">
<!--        <div class="pagination text-center">-->
<!--          <ul>-->
<!--            <li><a href="javascript:void(0)">1</a></li>-->
<!--            <li><a href="javascript:void(0)" class="active">2</a></li>-->
<!--            <li><a href="javascript:void(0)">3</a></li>-->
<!--            <li><a href="javascript:void(0)">4</a></li>-->
<!--            <li><a href="javascript:void(0)">...</a></li>-->
<!--            <li><a href="javascript:void(0)">11</a></li>-->
<!--          </ul>-->
<!--        </div> &lt;!&ndash; /.pagination &ndash;&gt;-->
      </div> <!-- /.col-md-12 -->
    </div> <!-- /.row -->
  </div> <!-- /.inner-content -->
</div> <!-- /.content-wrapper -->
</body>
<div th:replace="fragments/footer :: footer"></div>