<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="pl"> <![endif]-->
<!--[if IE 7]>
<html  class="no-js lt-ie9 lt-ie8" lang="pl"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="pl"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="pl"> <!--<![endif]-->

<div th:replace="fragments/header :: head"></div>
    <body>
    <div th:replace="fragments/header :: header"></div>

        <div class="content-wrapper">
            <div class="inner-container container">
                <div class="row">
                    <div class="section-header col-md-12">
                        <h2>Login Page</h2>
                        <span>you will see more</span>
                    </div> <!-- /.section-header -->
                </div> <!-- /.row -->
                <div class="contact-form">
                    <div class="box-content col-md-12">
                        <div class="row">
                            <div class="col-md-7">
                                <p>Access to the hide part of the service</p>
                                <h3 class="contact-title">Please provide your login data</h3>
                                <div class="contact-form-inner">
                                    <div th:if="${param.logout}">
                                        You have been logged out
                                    </div>
                                    <form method="post" th:action="@{/alerts/login}" id="loginform">
                                        <div th:if="${param.error}">
                                            Invalid username and password
                                        </div>
                                        <p>
                                            <label for="name">User name:</label>
                                            <input name="username" type="text" id="name">
                                        </p>
                                        <p>
                                            <label for="password">Password:</label>
                                            <input name="password" type="password" id="password">
                                        </p>
                                        <input type="submit" class="mainBtn" id="submit" value="Login" />
                                    </form>
                                </div> <!-- /.contact-form-inner -->
                                <div id="message"></div>
                            </div> <!-- /.col-md-7 -->
                            <div class="col-md-5">
<!--                                wrapper -->
                            </div> <!-- /.col-md-5 -->
                        </div> <!-- /.row -->
                    </div> <!-- /.box-content -->
                </div> <!-- /.contact-form -->
            </div> <!-- /.inner-content -->
        </div> <!-- /.content-wrapper -->

    </body>
<div th:replace="fragments/footer :: footer"></div>
</html>
