<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html  class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->

<div th:replace="fragments/header :: head"></div>

<body>
<div th:replace="fragments/header :: header"></div>

        <div class="content-wrapper">
            <div class="inner-container container">
                <div class="row">
                    <div class="section-header col-md-12">
                        <h2>You have been logged out!</h2>
                        <span>update date: 2021.06.01 13:13</span>
                    </div> <!-- /.section-header -->
                </div> <!-- /.row -->

            </div> <!-- /.inner-content -->
        </div> <!-- /.content-wrapper -->
</body>
<div th:replace="fragments/footer :: footer"></div>