<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="pl"> <![endif]-->
<!--[if IE 7]>
<html  class="no-js lt-ie9 lt-ie8" lang="pl"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="pl"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="pl"> <!--<![endif]-->

<div th:replace="fragments/header :: head"></div>
    <body>
    <div th:replace="fragments/header :: header"></div>

    <div class="content-wrapper">
        <div class="inner-container container">
            <div class="row">
                <div class="section-header col-md-12">
                    <h2>Latest alerts from Twitter</h2>
                    <span>update date: 2021.06.01 13:13</span>
                </div> <!-- /.section-header -->
            </div> <!-- /.row -->
            <div class="row">
                <div class="blog-masonry masonry-true">
                    <div class="post-masonry col-md-4 col-sm-6">
                        <div class="blog-thumb">
                            <img th:src="@{/images/twitter/storm1.jpg}">
                            <div class="overlay-b">
                                <div class="overlay-inner">
                                    <a href="blog-single.html" class="fa fa-link"></a>
                                </div>
                            </div>
                        </div>
                        <div class="blog-body">
                            <div class="box-content">
                                <h3 class="post-title"><a href="blog-single.html">Storms warning</a></h3>
                                <span class="blog-meta">10 November 2084 by @Imgw</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, deleniti, id quibusdam aut optio saepe soluta tempore neque voluptatum.</p>
                            </div>
                        </div>
                    </div> <!-- /.post-masonry -->
                    <div class="post-masonry col-md-4 col-sm-6">
                        <div class="blog-thumb">
                            <img th:src="@{/images/twitter/storm2.jpg}" alt="">
                            <div class="overlay-b">
                                <div class="overlay-inner">
                                    <a href="blog-single.html" class="fa fa-link"></a>
                                </div>
                            </div>
                        </div>
                        <div class="blog-body">
                            <div class="box-content">
                                <h3 class="post-title"><a href="blog-single.html">Storms warning</a></h3>
                                <span class="blog-meta">8 November 2084 by @Imgw</span>
                                <p><a href="http://www.templatemo.com/preview/templatemo_423_artcore">Artcore</a> is free HTML5 template by <b class="blue">template</b><b class="green">mo</b>. There are total 12 HTML pages. Credit goes to <a rel="nofollow" href="http://unsplash.com">Unsplash</a> for images.</p>
                            </div>
                        </div>
                    </div> <!-- /.post-masonry -->
                    <div class="post-masonry col-md-4 col-sm-6">
                        <div class="blog-thumb">
                            <img th:src="@{/images/twitter/hails1.jpg}" alt="">
                            <div class="overlay-b">
                                <div class="overlay-inner">
                                    <a href="blog-single.html" class="fa fa-link"></a>
                                </div>
                            </div>
                        </div>
                        <div class="blog-body">
                            <div class="box-content">
                                <h3 class="post-title"><a href="blog-single.html">Hails warning</a></h3>
                                <span class="blog-meta">6 November 2084 by @Imgw</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, deleniti, id quibusdam aut optio saepe soluta tempore neque voluptatum.</p>
                            </div>
                        </div>
                    </div> <!-- /.post-masonry -->
                    <div class="post-masonry col-md-4 col-sm-6">
                        <div class="blog-thumb">
                            <img th:src="@{/images/twitter/strongwinds1.jpg}" alt="">
                            <div class="overlay-b">
                                <div class="overlay-inner">
                                    <a href="blog-single.html" class="fa fa-link"></a>
                                </div>
                            </div>
                        </div>
                        <div class="blog-body">
                            <div class="box-content">
                                <h3 class="post-title"><a href="blog-single.html">Strong winds warning</a></h3>
                                <span class="blog-meta">4 November 2084 by @Imgw</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, deleniti, id quibusdam aut optio saepe soluta tempore neque voluptatum.</p>
                            </div>
                        </div>
                    </div> <!-- /.post-masonry -->

                </div> <!-- /.blog-masonry -->
            </div> <!-- /.row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="pagination text-center">
                        <ul>
                            <li><a href="javascript:void(0)">1</a></li>
                            <li><a href="javascript:void(0)" class="active">2</a></li>
                            <li><a href="javascript:void(0)">3</a></li>
                            <li><a href="javascript:void(0)">4</a></li>
                            <li><a href="javascript:void(0)">...</a></li>
                            <li><a href="javascript:void(0)">11</a></li>
                        </ul>
                    </div> <!-- /.pagination -->
                </div> <!-- /.col-md-12 -->
            </div> <!-- /.row -->
        </div> <!-- /.inner-content -->
    </div> <!-- /.content-wrapper -->

    </body>
<div th:replace="fragments/footer :: footer"></div>
</html>
